.elementor-52 .elementor-element.elementor-element-522c4b0f {
	padding: 10px 0px 10px 0px;
}

.elementor-52 .elementor-element.elementor-element-598d3933>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-52 .elementor-element.elementor-element-7e4f34d3.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-52 .elementor-element.elementor-element-7e4f34d3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-52 .elementor-element.elementor-element-7e4f34d3.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-52 .elementor-element.elementor-element-7e4f34d3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 16px;
	--grid-column-gap: 10px;
	--grid-row-gap: 0px;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-widget-container {
	text-align: center;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-social-icon {
	background-color: #000000;
	--icon-padding: 0.5em;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-social-icon i {
	color: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-social-icon svg {
	fill: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-social-icon:hover {
	background-color: #ff0099;
	border-color: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-social-icon:hover i {
	color: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-69d6dfca .elementor-social-icon:hover svg {
	fill: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-601f30e9 .elementor-button {
	font-family: "gilroy", Sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.1px;
	background-color: #ff0099;
	border-radius: 30px 30px 30px 30px;
	padding: 13px 24px 13px 24px;
}

.elementor-52 .elementor-element.elementor-element-601f30e9 .elementor-button:hover,
.elementor-52 .elementor-element.elementor-element-601f30e9 .elementor-button:focus {
	color: #ff0099;
	background-color: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-601f30e9 .elementor-button:hover svg,
.elementor-52 .elementor-element.elementor-element-601f30e9 .elementor-button:focus svg {
	fill: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-601f30e9>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-52 .elementor-element.elementor-element-6a7ddfaa.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-52 .elementor-element.elementor-element-6a7ddfaa.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-menu-toggle {
	margin-left: auto;
	background-color: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu .elementor-item {
	font-family: "gilroy", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu--main .elementor-item {
	color: #DEDEDE;
	fill: #DEDEDE;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: #61CE7000;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .e--pointer-framed .elementor-item:before,
.elementor-52 .elementor-element.elementor-element-5ed03a41 .e--pointer-framed .elementor-item:after {
	border-color: #61CE7000;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
	background-color: #02010100;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-52 .elementor-element.elementor-element-5ed03a41 .e--pointer-framed .elementor-item.elementor-item-active:after {
	border-color: #02010100;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 {
	--e-nav-menu-horizontal-menu-item-margin: calc( 20px / 2);
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 20px;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 div.elementor-menu-toggle {
	color: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-5ed03a41 div.elementor-menu-toggle svg {
	fill: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-52 .elementor-element.elementor-element-370059b0.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-52 .elementor-element.elementor-element-370059b0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-52 .elementor-element.elementor-element-370059b0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 16px;
	--grid-column-gap: 10px;
	--grid-row-gap: 0px;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-widget-container {
	text-align: center;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-social-icon {
	background-color: #000000;
	--icon-padding: 0.5em;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #ff0099;
	margin: 5px;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-social-icon i {
	color: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-social-icon svg {
	fill: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-social-icon:hover {
	background-color: #ff0099;
	border-color: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-social-icon:hover i {
	color: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-6ec2004c .elementor-social-icon:hover svg {
	fill: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-39a73a0 .elementor-button {
	font-family: "gilroy", Sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.1px;
	background-color: #ff0099;
	border-radius: 30px 30px 30px 30px;
	padding: 13px 24px 13px 24px;
}

.elementor-52 .elementor-element.elementor-element-39a73a0 .elementor-button:hover,
.elementor-52 .elementor-element.elementor-element-39a73a0 .elementor-button:focus {
	color: #ff0099;
	background-color: #FFFFFF;
}

.elementor-52 .elementor-element.elementor-element-39a73a0 .elementor-button:hover svg,
.elementor-52 .elementor-element.elementor-element-39a73a0 .elementor-button:focus svg {
	fill: #ff0099;
}

.elementor-52 .elementor-element.elementor-element-39a73a0>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

@media(max-width:767px) {
	.elementor-52 .elementor-element.elementor-element-c5adbbd {
		width: 70%;
	}
	.elementor-52 .elementor-element.elementor-element-c5adbbd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}
	.elementor-52 .elementor-element.elementor-element-36e448c1 {
		text-align: left;
	}
	.elementor-52 .elementor-element.elementor-element-6a7ddfaa {
		width: 30%;
	}
	.elementor-52 .elementor-element.elementor-element-5ed03a41>.elementor-widget-container {
		margin: 10px 0px 0px 0px;
	}
}

@media(min-width:768px) {
	.elementor-52 .elementor-element.elementor-element-c5adbbd {
		width: 21.544%;
	}
	.elementor-52 .elementor-element.elementor-element-6a7ddfaa {
		width: 47.883%;
	}
	.elementor-52 .elementor-element.elementor-element-370059b0 {
		width: 30.239%;
	}
}