.elementor-56 .elementor-element.elementor-element-55226b34:not(.elementor-motion-effects-element-type-background),
.elementor-56 .elementor-element.elementor-element-55226b34>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #0C0C0C;
}

.elementor-56 .elementor-element.elementor-element-55226b34 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 40px 0px 50px 0px;
}

.elementor-56 .elementor-element.elementor-element-55226b34>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-56 .elementor-element.elementor-element-290800b7>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-56 .elementor-element.elementor-element-15903e15 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-56 .elementor-element.elementor-element-4c6f1fe2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-56 .elementor-element.elementor-element-1499eaa3 {
	text-align: left;
}

.elementor-56 .elementor-element.elementor-element-1499eaa3>.elementor-widget-container {
	margin: 0px 0px 10px 0px;
}

.elementor-56 .elementor-element.elementor-element-4c3a0101 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "gilroy", Sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 1px;
}

.elementor-56 .elementor-element.elementor-element-3cc363a4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-56 .elementor-element.elementor-element-3cc363a4>.elementor-element-populated {
	padding: 70px 10px 0px 100px;
}

.elementor-56 .elementor-element.elementor-element-eb086df .elementor-heading-title {
	color: #FFFFFF;
	font-family: "theboldfont", Sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 2px;
}

.elementor-56 .elementor-element.elementor-element-eb086df>.elementor-widget-container {
	margin: 0px 0px 15px 0px;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 16px;
	--grid-column-gap: 10px;
	--grid-row-gap: 0px;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-widget-container {
	text-align: left;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-social-icon {
	background-color: #000000;
	--icon-padding: 0.5em;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #ff0099;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-social-icon i {
	color: #ff0099;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-social-icon svg {
	fill: #ff0099;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-social-icon:hover {
	background-color: #ff0099;
	border-color: #ff0099;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-social-icon:hover i {
	color: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-13276ce1 .elementor-social-icon:hover svg {
	fill: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-bde05b6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-56 .elementor-element.elementor-element-bde05b6>.elementor-element-populated {
	padding: 70px 10px 0px 10px;
}

.elementor-56 .elementor-element.elementor-element-665e319 {
	text-align: center;
}

.elementor-56 .elementor-element.elementor-element-665e319 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "theboldfont", Sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 2px;
}

.elementor-56 .elementor-element.elementor-element-665e319>.elementor-widget-container {
	margin: 0px 0px 15px 0px;
}

.elementor-56 .elementor-element.elementor-element-84b4eea {
	text-align: center;
}

.elementor-56 .elementor-element.elementor-element-5fcbace4:not(.elementor-motion-effects-element-type-background),
.elementor-56 .elementor-element.elementor-element-5fcbace4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #0C0C0C;
}

.elementor-56 .elementor-element.elementor-element-5fcbace4 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 6px 0px 12px 0px;
}

.elementor-56 .elementor-element.elementor-element-5fcbace4>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-56 .elementor-element.elementor-element-4a764689>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-56 .elementor-element.elementor-element-2a5e9049 {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #9E9E9E;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 12px 0px 0px 0px;
}

.elementor-56 .elementor-element.elementor-element-2a5e9049>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-56 .elementor-element.elementor-element-73cfadd2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-56 .elementor-element.elementor-element-4682ebc3 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "gilroy", Sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
}

.elementor-56 .elementor-element.elementor-element-7b898820>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-56 .elementor-element.elementor-element-6b83819b {
	text-align: right;
}

.elementor-56 .elementor-element.elementor-element-6b83819b .elementor-heading-title {
	color: #FFFFFF;
	font-family: "gilroy", Sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
}

@media(max-width:767px) {
	.elementor-56 .elementor-element.elementor-element-3cc363a4>.elementor-element-populated {
		padding: 40px 0px 0px 10px;
	}
	.elementor-56 .elementor-element.elementor-element-bde05b6>.elementor-element-populated {
		padding: 40px 10px 0px 10px;
	}
	.elementor-56 .elementor-element.elementor-element-6b83819b {
		text-align: left;
	}
}

@media(min-width:768px) {
	.elementor-56 .elementor-element.elementor-element-4c6f1fe2 {
		width: 36.794%;
	}
	.elementor-56 .elementor-element.elementor-element-3cc363a4 {
		width: 32.822%;
	}
	.elementor-56 .elementor-element.elementor-element-bde05b6 {
		width: 29.923%;
	}
}


/* Start Custom Fonts CSS */

@font-face {
	font-family: 'theboldfont';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2022/02/theboldfont.ttf') format('truetype');
}


/* End Custom Fonts CSS */